form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    label{
        font-weight: bold;
    }
    input{
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
    }
    input:focus{
        border-color: #4CAF50;
        outline: none;
    }
    button{
        padding: 8px;
        font-size: 16px;
        background-color: #66db6a;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
    }
    button:hover{
        background-color: #4CAF50;
    }
}
.error-message {
    color: red;
    font-weight: bold;
}
