table{
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
}
thead{
    background-color: #66db6a;
    color: white;
}
thead th {
    padding: 10px;
    text-align: center;
}
tbody tr:hover{
    background-color: #d6f5d6;
}
td {
    padding: 10px;
    text-align: center;
}
.date {
    font-style: italic;
    text-align: right;
}